.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  overflow-y: auto;
  background-color: #f7f7f7;
  gap: 64px; /* Ajoute un espace entre les sections */
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}


.headerSectionFull_title {
  position: fixed; /* Fixe l'élément en haut */
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px; /* Ajuste l'espacement intérieur */
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
  border-bottom: 2px solid #ddd;
  display: flex; /* Met les éléments en ligne */
  justify-content: space-between; /* Titre à gauche, liens à droite */
  align-items: center; /* Centre verticalement */
}

/* Style pour le conteneur des liens */
.navLinks {
  display: flex;
  gap: 20px; /* Espacement entre Services & Contact */
  margin-left: 20px; /* Aligne les boutons à droite */
}


.navLinks button {
  background-color: transparent;
  border: 2px solid #e2e2e2; /* Bordure grise claire */
  color: #2c2c2c; /* Gris moyen pour le texte */
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navLinks button:hover {
  background-color: #e4e3e3; /* Gris foncé pour l'arrière-plan au survol */
  color: #0e0e0e; /* Texte blanc au survol */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05); /* Ombre légère au survol */
}

.title {
  cursor: pointer;
  /* Vous pouvez également ajouter d'autres styles ici si nécessaire */
}


/* 

.contentSection {
  margin-top: 100px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
} */

/* styles/page.module.css */

/* styles/page.module.css */

.section_with_background {
  position: relative;
  background-image: url('/assets/1.jpg'); /* Vérifiez si l'URL de l'image est correcte */
  background-size: cover; /* L'image couvre toute la section */
  background-position: center; /* Centre l'image */
  height: 100%; /* Hauteur de la section, ajustée à 50% de la fenêtre */
  width: 100vw; /* Largeur de la section = 90% de la largeur de la fenêtre */
  margin: 0 auto; /* Centre horizontalement */
  display: flex; /* Active Flexbox */
  align-items: center; /* Centre le contenu verticalement */
  flex-direction: column; /* Aligne le contenu dans une colonne */
  text-align: center; /* Centre le texte dans la section */
  box-sizing: border-box; /* Empêche le débordement de la section */
  overflow: hidden; /* Empêche tout débordement de contenu */
}

/* Ajout d'un voile gris transparent pour améliorer la lisibilité du texte */
.section_with_background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Voile gris avec transparence */
  z-index: 1; /* S'assure que le voile est au-dessus de l'image mais en dessous du texte */
}


.section_with_background .content {
  position: relative; /* Pour que le texte soit au-dessus de l'overlay */
  background-color: transparent; /* Suppression du fond */
  margin: 48px;
  padding: 30px 40px; /* Espacement confortable autour du contenu */
  border-radius: 8px; /* Coins arrondis pour un effet plus doux */
  width: 80%; /* Ajuster la largeur pour que le texte soit bien centré */
  max-width: 800px; /* Limiter la largeur */
  box-sizing: border-box;
  color: #555; /* Couleur du texte gris clair */
  /* Suppression des bordures */
  z-index: 2;
  border: none;
  box-shadow: none; /* Suppression de l'ombre */
}


.section_with_background h2 {
  font-size: 40px; /* Taille du titre augmentée */
  margin-bottom: 12px; /* Espacement plus réduit entre le titre et le texte */
  font-weight: 700; /* Épaississement du texte du titre */
  color: #ffffff; /* Couleur sombre pour un contraste agréable */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Ombre autour du texte pour l'épaissir */
}

.section_with_background p {
  font-size: 18px; /* Taille de police augmentée pour le texte */
  line-height: 1.6; /* Espacement de ligne pour améliorer la lisibilité */
  font-weight: 600; /* Épaississement du texte du paragraphe */
  color: #e7e7e7; /* Couleur de texte gris clair */
  margin-bottom: 16px; /* Espacement entre les paragraphes */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Ombre autour du texte pour l'épaissir */
}


.section_with_background p:last-of-type {
  margin-bottom: 0; /* Supprimer la marge après le dernier paragraphe */
}


/* Media Queries pour rendre la section responsive */
@media (max-width: 768px) {
  .section_with_background {
    margin: 0; /* Supprime la marge à gauche et à droite sur les écrans plus petits */
  }
}

@media (max-width: 480px) {
  .section_with_background {
    margin: 0; /* Supprime la marge à gauche et à droite sur les petits écrans */
  }
}

.fondateur{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #333; /* Couleur de texte sombre mais pas noire */
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.contactText {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #333; /* Couleur de texte sombre mais pas noire */
  text-align: center;
  margin-bottom: 1rem;
}

.contactTextStrong {
  font-weight: bold; /* Mettre en gras les informations clés */
  color: #2e3b55; /* Couleur légèrement plus sombre pour les titres */
}

.contactContainer {
  margin-bottom: 36px;
}

.container {
  display: flex;
  flex-direction: column; /* Dispose les éléments en colonne */
  align-items: center; /* Aligne les éléments au centre horizontalement */
  justify-content: center; /* Centre les éléments verticalement */
  gap: 20px; /* Ajuste l'écart entre les éléments */
}

/* Style pour rendre la carte responsive */
.map_container {
  width: 80vh; /* Largeur pleine */
  height: 400px; /* Hauteur par défaut (modifiable en fonction de l'écran) */
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Ajustement pour les petits écrans (mobile) */
@media (max-width: 768px) {
  .map_container {
    height: 300px; /* Réduit la hauteur pour les petits écrans */
    width: 50vh;
  }
}

/* Ajustement pour les écrans très larges (comme les grands écrans de bureau) */
@media (min-width: 1200px) {
  .map_container {
    height: 500px; /* Hauteur plus grande pour les grands écrans */
  }
}

